version: "3.9"

services:
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped

    command: serve

    volumes:
      - headscale-data:/var/lib/headscale
      - ./config:/etc/headscale

    networks:
      coolify:
        aliases:
          - headscale
          - headscale.technomancer.shop

volumes:
  headscale-data:

networks:
  coolify:
    external: true