version: "3.9"

services:
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped

    command: serve

    volumes:
      - headscale-data:/var/lib/headscale
      - ./config:/etc/headscale

    networks:
      headscale-net:
        aliases:
          - headscale
          - headscale.technomancer.shop
  healthcheck:
        test: ["CMD", "headscale", "health"]
        interval: 30s
        timeout: 5s
        retries: 3
        start_period: 10s

  headscale-admin:
    image: goodieshq/headscale-admin:latest
    container_name: headscale-admin
    restart: unless-stopped
    environment:
      HEADSCALE_URL: "https://headscale.technomancer.shop"
    networks:
      headscale-net:
        aliases:
          - headscale-admin

volumes:
  headscale-data:

networks:
  headscale-net:
    external: true